<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/week2%20-%20Pandas%20and%20Python/Pandas/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In [0]:
import pandas as pd

1) We will work on one datasets that contains 2 files. With the function `pd.read_csv()`, this function take a string as an argument which correspond to the url or the path of the file (i.e `"../data/filename.csv"`). Load the different files: `google-play-store-apps/googleplaystore_user_reviews.csv` and `google-play-store-apps/googleplaystore.csv`. If you use google collab you can fill the `read_csv()` with the url on github repository: 

**Example:**
```python
url_reviews = "https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/google-play-store-apps/googleplaystore_user_reviews.csv"
data_app_reviews = pd.read_csv(url_reviews)
```

**Solution:**

2) Chek the data by using the function `.head()`(beginning of the list), `.tail()` (end of the list), `.columns` (column names), `.index` (raw identifier) and `.dtypes` (column types) (the `display(df.head()`) function can be useful to display the dataframe directly without waiting for the output. 

**Hint:**
```python
display(data_app_reviews.head())
display(data_app_reviews.columns)
```

**Solution:**

3) Look at the different types of the columns. Most of them are Object type, the most general one, we will convert correctly the type of each column. Convert each column types to a correct one. You can use the function `pd.to_numeric()` (give you either a int64 or float64 dtype) or `pd.as_type()`:



![](https://pbpython.com/images/pandas_dtypes.png)

**Example: How to use astype**
```python
# convert all DataFrame columns to the int64 dtype
df = df.astype(int)

# convert column "a" to int64 dtype and "b" to complex type
df = df.astype({"a": int, "b": complex})

# convert Series to float16 type
s = s.astype(np.float16)

# convert Series to Python strings
s = s.astype(str)

# convert Series to categorical type - see docs for more details
s = s.astype('category')
```
But here to_numeric() is sufficient! Use the argument `errors = 'ignore'`to deal with string values inside the column. You will encounter some errors during the process, check how to progressively clean the data. To suppress coma and dots use : `.str.replace(".","")`on your column.

**Example:**
To modify the string format to a numerical format when you have some letters like M for billion and k for thousands you can use the following:
```python
data_app['Reviews'] = data_app["Reviews"].str.replace(".","") # suppress comas
data_app['Reviews'] = pd.to_numeric(data_app['Reviews'].map(lambda x: str(x)[:-1] + "000000" if str(x)[-1] == 'M' else str(x)[:-1] + "000"))

```
The `map()` function apply a function to the all column. The lambda expression is a particular form in python to define a function. Some explanation of the example:   
-`lambda`special character to specify a lambda expression for a function  
-x is a variable that represent the value of column/raw,   
-`str(x)[:-1] + "000000"` corresponds to the new value (instead of x), note that we delete the last character and we add `"000000"`to the string if the last character is `M`.  
-`.str.replace(".","")`first transform the `Object` type to a string, then replace the dot by a empty character.

**Solution:**

In [78]:
display(data_app.head())

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

4) Note that there exists some null values. For each dataframe, count the number of null values by using: `.isnull()` and `.sum()`. Drop the null values if there exist. Print the shape of your dataframes before and after the cleaning process: `.shape`. How many data was deleted ?

**Solution:**

4) We will apply now some filters on the data:  
    - select the 10 best reviewed apps, use `.sort_values()`  
    - select the gender which have the higher ranking  mean: use `groupby()`, `mean()`and `sort_values()`
    
**Solution:**